<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Nombre</label>
        <input formControlName="name">
    </div>
    <div class="form-group">
        <label>SFW</label>
        <input type="checkbox" formControlName="sfw">
        <label>Estado</label>
        <select formControlName="status">
            <option value="airing">Airing</option>
            <option value="complete">Complete</option>
            <option value="upcoming">Upcoming</option>
        </select>
    </div>


    <button type="submit" [disabled]="profileForm.invalid">Buscar</button>
</form>